<meta property="og:title" content="[[*pagetitle]]" />
<meta property="og:type" content="article" />
<meta property="article:published_time" content = "[[*publishedon:strtotime:date=`%b %d, %Y`]]" />
<meta property="og:description" content="[[*description:isequal=``:then=`[[*content:striptags:ellipsis=`150`]]`:else=`[[*description]]`]]" />        
<meta property="og:url" content="[[++site_url]][[~[[*id]]]]"/>
<meta property="og:image" content="[[*featured_image:isequal=``:then=`[[++site_url]][[*header_image:phpthumbof=`w=1200&h=630&zc=1`]]`:else=`[[++site_url]][[*featured_image:phpthumbof=`w=316&h=360&zc=1`]]`]]" />
<meta property="og:site_name" content="[[++site_name]]" />
<meta property="og:width" content="[[*featured_image:isequal=``:then=`1200`:else=`316`]]" />
<meta property="og:height" content="[[*featured_image:isequal=``:then=`630`:else=`360`]]" />

<!-- Twitter Card Data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="[[*longtitle:isequal=``:then=`[[++site_name]] | [[*pagetitle]]`:else=`[[*longtitle]]`]]">
<meta name="twitter:description" content="[[*description:isequal=``:then=`[[#1.description]]`:else=`[[*description]]`]]">
<meta name="twitter:creator" content="[[#1.twitter-handle]]">
<meta name="twitter:image" content="[[++site_url]][[#1.tv.ogimage]]">
<meta name="twitter:domain" content="[[~[[*id]]]]">

<!-- Canonical URL for CMS SEO -->
<link rel="canonical" href="[[++site_url]][[~[[*id]]]]" />