<ul class="social list-inline">
	[[#1.tv.facebook:notempty=`<li><a href="[[#1.tv.facebook]]" target = "blank"><i class="fa fa-facebook"></i></a></li>`]]
	[[#1.tv.twitter:notempty=`<li><a href="[[#1.tv.twitter]]" target = "blank"><i class="fa fa-twitter"></i></a></li>`]]
	[[#1.tv.instagram:notempty=`<li><a href="[[#1.tv.instagram]]" target = "blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>`]]
	[[#1.tv.linkedin:notempty=`<li><a href="[[#1.tv.linkedin]]" target = "blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>`]]
	[[#1.tv.pinterest:notempty=`<li><a href="[[#1.tv.pinterest]]" target = "blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>`]]
	[[#1.tv.google:notempty=`<li><a href="[[#1.tv.google]]" target = "blank"><i class="fa fa-google" aria-hidden="true"></i></a></li>`]]
	[[#1.tv.flickr:notempty=`<li><a href="[[#1.tv.flickr]]" target = "blank"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>`]]
</ul>

