
    <form class="main-form container-fluid contact-form" method="post" action="assets/snippets/send_the_form.php" id="contactForm">
      <input type="text" name = "Last__Name" id = "spam_check" value="" class="input" style = "position:absolute; top: -9999px;"/>
      
                <input type = "hidden" name = "send_the_form" value = "true" />
                <input type = "hidden" name = "options[subject]" value = "Contact Form" />
                <input type = "hidden" name = "options[to]" value = "Justin" />
                <input type = "hidden" name = "options[ajax]" value = "true" />
                <input type = "hidden" name = "options[primary-email]" value = "[[#1.tv.primary-email]]" />
                <input type = "hidden" name = "options[pageAlias]" value = "[[*alias]]" />
                <input type = "hidden" name = "options[pageReferer]" value = "[[*success:is=``:then=`/contact`:else=`/[[#[[*success]].alias]]`]]" />

                <div class="row">
                  [[getImageList?
                    &tvname=`contact-form`
                    &tpl=`contact-form-inputs`]]
              </form>
                
              
                <div class="row">
                    <input type="submit" class="button" data-form = "#contactForm"  value="[[*submit-text]]" />

                </div>
            </form>

