<section class="brands purple">
	<div class="container-fluid">
			<div class="wrap">
				<div class="row ">
				<div class="col-xs-12">
					<h1>[[!+headline]]</h1>
				</div>
			</div>
			<div class="row small-wrap">
				[[!getImageList?
				  &tvname=`page-builder`
				  &tpl=`brand`
				  &value=`[[+brands]]`
				]]
			</div>
		</div>
		
	</div>
</section>