<section class="process">
	<div class="container-fluid wrap">
		<div class="row process-list">
			[[!getImageList?
				  &tvname=`page-builder`
				  &tpl=`process-placeholder`
				  &value=`[[!+process]]`
				]]
		</div>
	</div>
</section>