<div class="col-xs-12 col-sm-7 item">
	<div class="row item-content">
		<div class="col-xs-4">
			<h5>
				0[[!+idx]]
			</h5>
			<img src="[[+image:phpthumbof=`w=200&h=200&zc=1&f=png&fltr[]=ric|100|100`]]" alt="">
		</div>
		<div class="col-xs-8">
			<h2>[[!+title]]</h2>
			[[!+content]]
		</div>
	</div>
</div>