* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background:$background;
}

.cf {
  &:before,&:after {
    content: " "; 
    display: table; 
  }
  &:after {
    clear: both;
  }
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

.loading-site {
  overflow:hidden;
}

/* MAIN */

section {
  @extend .cf !optional;
  padding:2em;
    
}

.loading {
  background: $background;
  z-index: 1000;
  position: absolute;
  top:0;
  left:0;
  display: flex;
  height:100vh;
  text-align: center;
  justify-content:center;
  flex-direction: column;
  .color-contain {
    position: absolute;
    height: 90%;
    top: 0;
    left: 0;
    width: 100%;
    .yellow,.white {
      background: $secondary;
      height: 100%;
      float: left;
      width:0;
    }
    .white {
      background: white;
    }
  }
  .animation-contain {
    width: 25%;
    margin: auto;
    position: relative;
  }
  img {
    position: relative;
    z-index: 2;
  }
}

.wrap,.sm-wrap {
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

.wrap {
  max-width: 1100px;
}
.sm-wrap{
  max-width:720px;
}

/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}


/* Responsive Video Embeds */
.video-container {
    position: relative;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    iframe {
       position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}


.blend-mode {
  position: relative;
  z-index: 1001;
    mix-blend-mode:overlay;

    .blend, h2 {

    }
}

.services {
  margin-top: -2em;
  .wrap {
    margin-top: 10em;
  }
  .col-md-3.col-sm-4{
    margin-bottom: 30px;
  }
}
.service {
  text-align: center;
  i {
    color:$light;
    font-size: 55px;
  }
  padding:12em 5em;
  position: relative;
  border:solid 2px $light;
  &,* {
    @include transition(.3s all);
  }
  &:hover{
    border-color:$secondary;
    p,i {
      color:$secondary;
    }

  }
  p {
    line-height: .7;
    margin: 0;
    position: absolute;
    left:-2px;
    bottom:0;
    color:$light;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.video-background {
  &:after {
    background: linear-gradient(to bottom, transparent 0%, $background 80%);
    position: absolute;
    z-index: 100;
    bottom: 0;
    height: 50vh;
    width: 100%;
    left: 0;
  }
  .logo {
    width:50%;
  }
  .top {
    margin: 5% 0 1em;
  }
  .main-text {
    width:50%;
    margin:auto;
  }
  .text {
    z-index: 500;
    position: relative;
    h2 {
      margin:1em 0;
    }
    h1 {
      font-size: 36px;
      font-weight: 100;
      @include viewport(sm){
        font-size: 48px;
      }
      span{
        color:$secondary;
      }
    }
    * {
      color:white;
    }
  }
  .content {
    z-index: 1000;
    position: relative;
    display: table-cell;
    vertical-align:middle;

  }
  display: table;
  position: relative;
  height:200px;
  overflow: hidden;
  width: 100%;
  @include viewport(sm){
    height:800px;
  }
  .media {
    opacity:.8;
    position: absolute;
    top:0;
    left:0;
    display:none;
    margin:0;
    z-index: 1;
    width:100%;
    overflow:hidden;
    video {
    width:100%;
    }
   
    @include viewport(desktop){
    display:block;
    }

  }
}