body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
}

h1 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  color: $neutral;
  text-transform: uppercase;
}

h2.section-title {
  color:white;
  text-transform: uppercase;
  font-size: 50px;
  line-height: .8;
  font-weight: 600;
  margin-left:-2%;

  @include viewport(sm){
    font-size: 120px;
  }
  span {
    color:$secondary;
  }
}

/* PARAGRAPH */

p {
  font-family: $body;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1em;
  color:$primary;
}

a {
  color:$link;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

.button {
  
}