<div class="col-xs-6 col-sm-4 col-md-3 no-pad">
	<a class="fancybox" rel="group" href="[[+image]]" title="[[+description]]">
	    <img class="thumb" data-original="[[+thumbnail]]" src="[[+thumbnail]]" alt="[[+name]]" />
	</a>
</div>